/* v01_20160312 */

@charset "utf-8";
/*@import url("http://fonts.googleapis.com/earlyaccess/nanumgothic.css");*/


/* Reset */
html,body{width:100%;height:100%}
html{overflow-y:scroll;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,form,fieldset,p,button{margin:0;padding:0}
body,h1,h2,h3,h4,input,button,a{font-family:'나눔바른고딕','Nanum Gothic','나눔고딕',Dotum,'돋움',Helvetica,AppleSDGothicNeo,sans-serif;font-size:12px; text-align:center; color:#7a7373;}
body{background-color:#fff;*word-break:break-all;-ms-word-break:break-all}
img,fieldset,iframe{border:0 none}
li{list-style:none}
input,select,button{vertical-align:middle}
img{vertical-align:top}
i,em,address{font-style:normal}
label,button{cursor:pointer}
button{margin:0;padding:0}
a{text-decoration:none}
a:hover{text-decoration:none;}
button *{position:relative}
button img{left:-3px;*left:auto}
html:first-child select{height:20px;padding-right:6px}
option{padding-right:6px}
hr{display:none}
legend{*width:0}
table{border-collapse:collapse;border-spacing:0}
input::-ms-clear{display:none}

/* Common */
.show{display:block}
.hide{display:none}
h1,h2,h3,h4,h5 {font-weight:normal;}
body {background:url(../img/bg.jpg) top center no-repeat;}
/* 큰 모니터 */
@media only screen and (min-width : 1824px) {
	body{background-size:100% auto;}
}

/* Button */
.btn {
	background-color:#13b5b1;
	display:inline-block;
	cursor:pointer;
	color:#FFF;
	font-size:24px;
	padding:15px 30px;
	-webkit-border-radius:10px;
	   -moz-border-radius:10px;
        	border-radius:10px;
}


/* Layout */
#visual,
#explain .explain_gr,
#product .product_gr,
#process,
#footer .footer_gr {position:relative; width:1170px; margin:auto;}

/* visual */
#visual {height:640px;}
#visual .logo {margin-top:10px; text-align:left;}
#visual .title {color:#59493f; margin-top:160px;}
#visual .title .tit {font-size:72px; margin-bottom:20px;}
#visual .title .tit_sub {font-size:30px; margin-bottom:30px;}

/* explain */
#explain {clear:both; background:#FFF url(../img/bg_exp.png) center 200px no-repeat; padding-top:120px; padding-bottom:160px;}
#explain .explain_gr {}
#explain h2 {font-size:36px; color:#7e6b5a;}
#explain h2 em {font-size:120px; color:#d1c0a5; display:inline-block; margin-top:-30px; vertical-align:middle;}
#explain ul { margin-top:-20px; overflow:hidden; zoom:1;}
#explain ul li {width:30%; float:left;}
#explain ul li .img {height:254px; padding-top:88px;
	-moz-box-sizing: border-box;
			 box-sizing: border-box;
}
#explain ul li h3 {font-size:30px; color:#333; padding-bottom:10px;}
#explain ul li p {}
#explain li.last {width:40%;}
#explain li.last .img {padding-top:0;}

/* product */
#product {clear:both; background:#EEE; padding-top:120px; padding-bottom:120px;}
#product .product_gr {}
#product h2 {font-size:42px; color:#7e6b5a; padding-bottom:80px;}
#product ul {overflow:hidden; zoom:1;}
#product ul li {width:390px; float:left;}
#product ul li .img {margin-bottom:40px;}
#product ul li .img iframe,
#product ul li .img img {border:#a0a0a0 solid 1px; box-shadow:5px 5px #e2e2e2;}
#product ul li h3 {font-size:30px; color:#333; padding-bottom:10px;}
#product ul li p {color:#666;}
#product ul li p.sub {color:333; margin-top:10px; font-size:80%;}
#product .btn {clear:both; margin-top:80px; background:#362e2b;}

/* process */
#process {clear:both; padding-top:120px; padding-bottom:100px;}
#process h2 {font-size:36px; color:#7e6b5a; padding-bottom:60px;}
#process ul {margin-left:60px; overflow:hidden; zoom:1;}
#process ul li {float:left;  width:215px; background:url(../img/img_next.gif) right 42px no-repeat; padding-right:25px;
/*ie7*/*width:190px;
	-moz-box-sizing: border-box;
			 box-sizing: border-box;
}
#process ul li.last {background:none; padding-right:0; width:190px;}
#process ul li p {font-size:18px; color:#333; padding-top:10px;}


/* footer */
#footer {clear:both; background:#5c5c5c;}
#footer .footer_gr { padding:20px 0;}
#footer .address {min-height:60px; text-align:left; font-size:11px;}
#footer .address p {color:#dcdcdc; line-height:150%;}
#footer .footer_gr .sns {position:absolute; top:15px; right:10px;}
